body{
    background-color: a;
}

.animation-container{
    width: 750px;
    height: 750px;
    background-color: aliceblue;
    position: relative;
    margin: 0 auto;
}

.cube{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    animation: move-cube 10s ease infinite;
}

@keyframes move-cube{
    0%{
        top: 0;
        left: 0;
        background-color: aquamarine;
        border-radius: 0;
    }

    50%{
        top: 500px;
        left: 500px;
        background-color: aqua;
        border-radius: 50%;
        transform: scale(150%);
    }

    100%{
        top: 0;
        left: 0;
        background-color: aquamarine;
        border-radius: 0;
    }
}

.circle{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    animation: move-circle 10s ease infinite;
    border-radius: 50%;
}

@keyframes move-circle{
    0%{
        top: 0;
        left: 550px;
        background-color: aqua;
        border-radius: 50%;
    }

    50%{
        top: 500px;
        left: 50px;
        background-color: aquamarine;
        border-radius: 0;
        transform: scale(150%);
    }

    100%{
        top: 0;
        left: 550px;
        background-color: aqua;
        border-radius: 50%;
    }
}